html {
   position: relative;
   min-height: 100%;
}

body {
   font-size: 17px;
   font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
   line-height: 1.428571429;
   margin-bottom: 92px;
}

h1, h2, h3 {
   margin-top: 24px;
   margin-bottom: 12px;
}

h2 {
   font-size: 36px;
}

h3 {
   font-size: 29px;
   font-weight: 400;
}

hr {
   margin-top: 24px;
   margin-bottom: 3px;
}

.navbar {
   min-height: 76px;
   margin-bottom: 0;
}

.navbar-brand {
   padding-top: 24px;
   font-size: 36px;
   line-height: 24px;
   letter-spacing: -0.05em;
}

.navbar-default .navbar-brand {
   color: #666;
}

.navbar-brand img {
   display: block;
   padding: 0;
   float: left;
   width: 51px;
   height: 50px;
   margin-top: -12px;
   margin-right: 5px;
}

@media (min-width: 768px) {
   .navbar-nav>li>a {
       padding-top: 26px;
       padding-bottom: 26px;
   }
}

.jumbotron {
   background-color: #FFA000;
   color: #FFF;
   height: 325px;
}

.section-intro {
   background: url("/clementinejs/img/clementine_bg2.svg") no-repeat scroll right bottom;
   background-color: #FFAA00;
}

.section-intro h1 {
   margin-top: 32px;
   font-size: 68px;
   letter-spacing: -0.05em;
   line-height: 47px;
}

.section-intro h2 {
   font-weight: 300;
}

.lead {
   font-weight: 200;
   line-height: 1.4;
   font-size: 25.5px;
   margin-bottom: 0px;
}

footer {
   position: absolute;
   height: 92px;
   bottom: 0;
   width: 100%;
   text-align: center;
   padding: 20px 0 5px 0;
   background-color: #F7F7F7;
   overflow: visible;
}

footer .container {
   background-color: #F7F7F7;
   width: 100%;
}

footer p {
   font-size: 12px;
   padding: 5px 0 5px 0;
   margin: 0;
}

.pre-footer {
   width: 100%;
   padding-left: 0;
   padding-right: 0;
}

.btn-primary {
   background-color: #FFAA00;
   border-color: #FF9700;
   font-size: 17px;
   font-weight: 400;
}

.btn-primary:hover {
   background-color: #FF9700;
   border-color: #FF9700;
}

code {
   color: #0093A6;
   background-color: #F7F7F7;
}

.tocify {
   font-size: 14px;
   margin-top: 24px;
   border: none;
}

.tocify ul, .tocify li {
   line-height: 1.42857143;
}

.nav-list > li > a {
   padding-top: 4px;
   padding-bottom: 4px;
   color: #767676;
   border-left: 1px solid #FFFFFF;
}

.nav-list > li > a:hover {
   border-left: 1px solid #FFAA00;
   background-color: #FFFFFF;
   padding-left: 5px;
}

.nav-list > .active > a {
   border-left: 2px solid #FFAA00;
   padding-left: 4px;
}

.page {
   margin-bottom: 36px;
}

p > img {
   margin: 0 auto;
}