@import url(http://fonts.googleapis.com/css?family=Roboto:400,500);
body {
  color: #212121;
  font-family: 'Roboto', Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f9f9f9; }

[material-ripple] {
  position: relative;
  overflow: hidden;
  border: none;
  background: none; }

.material-ripple {
  display: block;
  overflow: hidden;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0); }

.material-ripple.animate {
  -moz-animation: ripple 0.35s linear;
  -webkit-animation: ripple 0.35s linear;
  animation: ripple 0.35s linear; }

@-moz-keyframes ripple {
  100% {
    opacity: 0;
    -moz-transform: scale(2.5);
    -webkit-transform: scale(2.5);
    transform: scale(2.5); } }

@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -moz-transform: scale(2.5);
    -webkit-transform: scale(2.5);
    transform: scale(2.5); } }

@keyframes ripple {
  100% {
    opacity: 0;
    -moz-transform: scale(2.5);
    -webkit-transform: scale(2.5);
    transform: scale(2.5); } }

.header {
  position: relative;
  margin: 0;
  color: white;
  padding: 0;
  height: 50px;
  background-color: #FFA000;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.nav {
  list-style-type: none;
  float: right; }

.nav > li {
  display: inline;
  padding: 0 25 11 25;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  box-sizing: border-box; }

#active {
  border-bottom: 4px solid #4DD0E1; }

.banner {
  background-color: #FFA000;
  background-image: linear-gradient(#FF630D, #FFA000);
  color: white;
  margin: 0;
  padding: 0;
  height: 375px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.title {
  text-align: center;
  padding: 0;
  font-size: 90px;
  font-weight: 500; }

.clemjs {
  position: relative;
  margin: -20px 0 0 0; }

.clemjs > p {
  font-size: 18px;
  color: #212121;
  margin: -10px 0 0 0;
  padding: 0;
  font-weight: 400; }

.logo {
  padding: 70px 0 30px 0;
  display: block;
  margin: 0 auto; }

.footer {
  color: #212121;
  margin: 0;
  padding: 0; }

.comments {
  background-color: white;
  width: 725px;
  height: 300px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  float: left;
  margin: 35px 0 0 30px; }

.comments > ul {
  list-style-type: none; }

.commentlist {
  width: 425px;
  height: 200px;
  float: left;
  font-size: 14px;
  padding: 10px;
  margin: 10px; }

#commentemail {
  text-align: right;
  font-weight: 500;
  padding: 0;
  margin: -5px 0 0 0; }

.newcomment {
  width: 200px;
  height: 200px;
  float: left;
  border-left: 1px solid #212121;
  padding: 10px;
  margin: 10px; }

.rightboxes {
  float: right;
  margin: 35px 30px 0 0;
  padding: 0; }

.about {
  background-color: white;
  width: 725px;
  height: 190px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding: 0;
  margin: 0;
  font-size: 14px; }

.about > p {
  margin: 0;
  padding: 10px; }

.tech {
  background-color: white;
  width: 725px;
  height: 80px;
  margin: 30px 0 0 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding: 0; }

.buttons {
  margin: auto;
  width: 200px;
  height: 50px;
  padding: 5px 0 0 0;
  cursor: pointer; }

.twitter {
  background-color: #4DD0E1;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  float: left;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -webkit-transform: rotate(0.0deg); }

.twitter > img {
  margin: auto;
  top: 50%;
  position: relative;
  transform: translateY(-50%); }

.email {
  background-color: #4DD0E1;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  float: right;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -webkit-transform: rotate(0.0deg); }

.email > img {
  margin: auto;
  top: 50%;
  position: relative;
  transform: translateY(-50%); }

.github {
  background-color: #4DD0E1;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  float: left;
  margin-left: 25px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -webkit-transform: rotate(0.0deg); }

.github > img {
  margin: auto;
  top: 50%;
  position: relative;
  transform: translateY(-50%); }
