<header>
	
	<div class="container">
		<nav id="navbar">
			<a id="nav-logo" href="{{ site.baseurl }}/index.html"></a>

			<ul>
				<li><a class="nav-button" href="{{ site.baseurl }}/standard/standard.html">STANDARD</a></li>
				<li><a class="nav-button" href="{{ site.baseurl }}/bare/bare.html">BARE</a></li>
				<li><a class="nav-button" href="{{ site.baseurl }}/beginner/beginner.html">BEGINNER</a></li>
				<li><a class="nav-button" href="{{ site.baseurl }}/fcc/fcc.html">FCC</a></li>
				<li><a class="nav-button" href="{{ site.baseurl }}/tutorials/tutorials.html">TUTORIALS</a></li>
			</ul>
		</nav>
	</div>

</header>