<header>
	
	<div class="container">
		<nav id="navbar">
			<a id="nav-logo" href="{{ site.baseurl }}/index.html"></a>
			<ul class="navbar">
				<li class="dropdown">
					<a class="nav-button" href="#" role="button" data-toggle="dropdown">VERSIONS<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="{{ site.baseurl }}/versions/generator.html">Generator</a></li>
						<li><a href="{{ site.baseurl }}/versions/standard.html">Standard</a></li>
						<li><a href="{{ site.baseurl }}/versions/fcc.html">Free Code Camp</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="nav-button" href="#" role="button" data-toggle="dropdown">DEVELOPERS<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="{{ site.baseurl }}/developers/contributing.html">Contributing</a></li>
						<li><a href="{{ site.baseurl }}/developers/code-conventions.html">Code Conventions</a></li>
					</ul>
				</li>
				<li><a class="nav-button" href="{{ site.baseurl }}/tutorials/tutorials.html">TUTORIALS</a></li>
			</ul>
		</nav>
	</div>

</header>