<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Clementine.js Documentation - A lightweight MEAN stack boilerplate</title>

		<link href="http://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
		<link href="{{ site.baseurl }}/css/bootstrap.min.css"rel="stylesheet">
		<link href="{{ site.baseurl }}/css/overrides.css" rel="stylesheet">
		<link href="{{ site.baseurl }}/css/syntax.css" rel="stylesheet">
	</head>
