<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Clementine.js - The elegant and lightweight boilerplate for full stack JavaScript</title>

		<link rel="canonical" href="http://www.clementinejs.com">
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400' rel='stylesheet' type='text/css'>
		<link href="{{ site.baseurl }}css/bootstrap.min.css"rel="stylesheet">
		<link href="{{ site.baseurl }}css/jquery.tocify.css" rel="stylesheet">
      <link href="{{ site.baseurl }}css/overrides.css"rel="stylesheet">
      <link href="{{ site.baseurl }}css/syntax.css"rel="stylesheet">
	</head>
