<hr class="hr-near-above">
<h3>Versions</h3>
<p>There are currently three versions of the Clementine.js boilerplate. Each version serves a specific purpose and includes different features and functionality. The table below outlines the versions and the technology included.</p>

<table class="table table-striped">
   <thead>
      <tr>
         <th>Version</th>
         <th>MongoDB</th>
         <th>Express</th>
         <th>AngularJS</th>
         <th>Node.js</th>
         <th>Passport</th>
         <th>Mongoose</th>
      </tr>
   </thead>
   <tr>
      <td>Standard</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>No</td>
      <td>Yes</td>
      <td>No</td>
      <td>No</td>
   </tr>
   <tr>
      <td>Angular</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>No</td>
      <td>No</td>
   </tr>
   <tr>
      <td>Free Code Camp</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>No</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
   </tr>
</table>