.banner
	background-color: white
	color: white
	margin: 0
	padding: 0
	height: 375px
	box-shadow: $shadow

.title
	text-align: center
	margin: 0 auto 0 auto
	padding: 0
	font-size: 90px
	font-weight: 500

.clemjs
	position: relative
	color: $clementine
	margin: -20px 0 0 0
	z-index: 1

.clemjs > p
	font-size: 18px
	color: $darkgrey
	margin: -10px 0 0 0
	padding: 0
	font-weight: 400

.logo
	margin: auto
	padding: 100px 0 0 0
	z-index: 0