.content
	color: $darkgrey
	margin: 0
	padding: 0

.divider
	background-color: $lightgrey
	height: 100PX
	width: 100%

.container
	background-color: white

.comments
	float: left

.comments > ul
	list-style-type: none

.commentlist
	float: left
	font-size: 14px
	padding: 10px
	margin: 10px

#commentemail
	text-align: right
	font-weight: 500
	padding: 0
	margin: -5px 0 0 0