.navbar
	color: white
	height: 64px
	background-color: $clementine
	box-shadow: $shadow
	z-index: 2
	position: relative
	font-weight: 500
	font-size: 18px
	display: block

.nav
	display: inline-block
	list-style-type: none
	float: left
	text-align: center
	margin: 0
	padding: 0

.nav-button
	display: inline-block
	line-height: 56px
	padding: 0 16px