html(ng-app="clementineJS")
	head
		title clementine.js - A lightweight MEAN stack boilerplate.
		link(type="text/css" rel="stylesheet" href="public/css/main.css")
	body
		.navbar
			ul.nav
				li.nav-button
					img(src="public/img/clementine_white_nav.png")
				li.nav-button(material-ripple="") FEATURES
				li.nav-button(material-ripple="") DOCS

		.banner
			.banner-background
				.title
					img.logo(src="public/img/clementine_150_white_ds.png")
					.clemjs clementine.js
							p A lightweight MEAN stack boilerplate.

							.buttons
								a.twitter(href="https://twitter.com/johnstonbl01" target="_blank" material-ripple="")
									img(src="public/img/twitter_logo_32x26.png")
								a.github(href="https://github.com/johnstonbl01/clementinejs" target="_blank" material-ripple="")
									img(src="public/img/github_32px.png")
								a(href="mailto:johnstonbl01@gmail.com" target="_blank" material-ripple="").email
									img(src="public/img/mail_32x28.png")
		.content
			
			.divider

			.container

				.about 
					p Bacon ipsum dolor amet jerky alcatra tail venison, cupim short ribs brisket beef ribs. Meatloaf brisket bresaola tri-tip. Ball tip meatball kevin, cupim porchetta pork chop jerky fatback shankle t-bone tenderloin beef ribs sirloin capicola hamburger. Andouille tail short loin brisket pork loin.
				
				.comments(ng-controller="commentCtrlr")

					ul.commentlist
						li(ng-repeat="comment in comments")
							p "{{comment.comments}}"
							p#commentemail - {{comment.email}}
					
					form(ng-submit="createComment()").newcomment
						input(type="text" ng-model="commentEmail" placeholder="email address")
						input(type="text" ng-model="commentBody" placeholder="comment")
						button(type="submit") Save Comment

				.tech
			


		script(type="text/javascript" src="/public/lib/angular/angular.min.js")
		script(type="text/javascript" src="/public/lib/angular-resource/angular-resource.min.js")
		script(type="text/javascript" src="/public/application.js")
		script(type="text/javascript" src="/directives/materialRipple.js")
		script(type="text/javascript" src="/controllers/commentCtrlr.client.js")